@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 1.5rem;
  margin: 4rem 17rem;
  width: 700px;
  height: 500px;
}

.section .leaderboard-title {
  font-size: 30px;
}

.main-page {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.section .recent-score-bar {
  margin-bottom: 1.5rem;
}

.recent-score-bar .score-text {
  margin-right: 28px;
  font-size: 25px;
}

/* stylelint-disable */
.recent-score-body {
  border: 2px solid grey;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  padding: 9px;
}

.recent-score-body ul li {
  margin-bottom: 5px;
}

.recent-score-body li:nth-child(odd) {
  background: lightgrey;
}

.recent-score-body ul {
  margin-left: -35px;
}

.add-score-bar {
  margin-right: 5rem;
  font-size: 24px;
}

.add-score-text {
  margin-bottom: 1.5rem;
}

.text-input-score {
  display: flex;
  flex-direction: column;
}

.text-input-score input {
  border: 2px solid grey;
  padding: 7px;
  border-radius: 5px;
}

.text-input-score .name {
  margin-bottom: 1rem;
}

.text-score-btn {
  float: right;
  margin-top: 10px;
}

button {
  background: #fff;
  padding: 5px;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  width: fit-content;
  margin-top: 5px;
  cursor: pointer;
}
